@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");

body {
  color: black;
  font-family: "Kanit", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 15px;
}

h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
}

.posts-header {
    padding-top: 100px;
}

.posts-container {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  background-color: #fff;
  border-radius: 15px;
  padding-top: 20px;
  margin-top: 70px;
  flex-direction: column;
  align-items: flex-start;
}

.post-list {
  text-align: left;
}

.post-author {
  font-style: italic;
  font-weight: bold;
}

.back-to-dashboard {
    margin-top: 30px;
    margin-bottom: 30px;
}

button , .back-to-dashboard-link {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover , .back-to-dashboard-link:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }